body {
  background: #FF9D22;
  margin: 0;
  height: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nunito', sans-serif;
}

svg {
  width: 120%;
}

.welcome {
  background: #FBFBFB;
  height: 97vh;
  width: 98vw;
  min-height: 500px;
  margin-top: 12px;
}

.welcome .portrait-img {
  width: 350px;
  max-width: 40%;
  height: auto;
  width: auto\9;
  /* ie8 */
  margin-top: 15vh;
}

.name {
  text-align: center;
}

.name p {
  margin: 0;
  font-size: 4em;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.foldpg {
  position: absolute;
  max-width: 120px;
  max-height: 120px;
  width: 120px;
  height: 120px;
  background: #FF9D22;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-image: url("../images/resume.png");
  background-size: 118px 120px;
  background-repeat: no-repeat;
  animation-name: bounce-before;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* For Chrome & Safari */
  -webkit-animation-name: bounce-before;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.foldpg:hover {
  max-width: 180px;
  max-height: 180px;
  width: 180px;
  height: 180px;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.foldpg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 120px solid #EEE;
  border-left: 120px solid transparent;
  -webkit-box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.foldpg:hover:before {
  content: "";
  position: absolute;
  border-bottom: 180px solid #DDD;
  border-left: 180px solid transparent;
}

.shadow {
  height: 100%;
  width: 100%;
}

.shadow::before,
.shadow::after {
  content: '';
  position: absolute;
  bottom: 2.2vh;
  width: 100px;
  height: 10px;
  background: transparent;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.shadow::before {
  left: 20px;
  -webkit-transform: skew(-5deg) rotate(-5deg);
          transform: skew(-5deg) rotate(-5deg);
}

.shadow::after {
  right: 20px;
  -webkit-transform: skew(5deg) rotate(5deg);
          transform: skew(5deg) rotate(5deg);
}

.socialmedia {
  position: absolute;
  bottom: 4vh;
  left: 5.5vh;
}

.socialmedia a {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 2em;
}

.socialmedia a:hover {
  color: #5e5e5e;
}

i.fa {
  display: inline-block;
  border-radius: 50px;
  padding: 0.2em 0.25em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

i.fa:hover {
  background-color: #d4eefc;
}

.arrow {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  width: 30px;
  height: 30px;
  border-right: 1px #7a7a7a solid;
  border-bottom: 1px #7a7a7a solid;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.arrow:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-right: 0.5px #7a7a7a solid;
  border-bottom: 0.5px #7a7a7a solid;
  margin: 5px 0 0 5px;
  -webkit-animation: 1.3s arrow infinite;
          animation: 1.3s arrow infinite;
}

@-webkit-keyframes arrow {
  from {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  to {
    opacity: 1;
    height: 15px;
    width: 15px;
  }
}

@keyframes arrow {
  from {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  to {
    opacity: 1;
    height: 15px;
    width: 15px;
  }
}

@-webkit-keyframes bounce-before {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 4px 5px;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes bounce-before {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 4px 5px;
  }
  to {
    background-position: 0 0;
  }
}

@-webkit-keyframes bounce-after {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 4px 15px;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes bounce-after {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 4px 15px;
  }
  to {
    background-position: 0 0;
  }
}
/*# sourceMappingURL=main.css.map */