body {
  background: #ff9d22;
  margin: 0;
  height: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Nunito';
}

.welcome {
  position: relative;
  background: #fbfbfb;
  height: 97vh;
  width: 97vw;
  min-height: 620px;
  margin-top: 10px;
}

.welcome .name {
  text-align: center;
  margin-top: 1.5vh;
}

.welcome .name p {
  margin: 0;
  font-size: 3.7em;
  text-align: center;
}

.welcome .name .portrait-img {
  width: 350px;
  max-width: 20%;
  height: auto;
  width: auto\9;
  /* ie8 */
  margin-top: 15vh;
}

.welcome .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 93%;
  margin: 0 4vw 5vh 0;
}

.welcome .footer .arrow {
  float: right;
  margin-top: 5px;
}

.welcome .footer .socialmedia {
  float: left;
}

.underline {
  text-decoration: underline;
}

.foldpg {
  position: absolute;
  max-width: 120px;
  max-height: 120px;
  width: 120px;
  height: 120px;
  background: #ff9d22;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  background-image: url("../images/resume.png");
  background-size: 118px 120px;
  background-repeat: no-repeat;
  animation: 2s ease-in-out infinite bounce-before;
  -webkit-animation: 2s ease-in-out infinite bounce-before;
  -moz-animation: 2s ease-in-out infinite bounce-before;
}

.foldpg:hover {
  max-width: 180px;
  max-height: 180px;
  width: 180px;
  height: 180px;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
}

.foldpg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 120px solid #eee;
  border-left: 120px solid transparent;
  -webkit-box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.foldpg:hover:before {
  content: "";
  position: absolute;
  border-bottom: 180px solid #ddd;
  border-left: 180px solid transparent;
}

.shadow {
  height: 100%;
  width: 100%;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100px;
  height: 10px;
  background: transparent;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.shadow::before {
  left: 20px;
  transform: skew(-5deg) rotate(-5deg);
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
}

.shadow::after {
  right: 20px;
  transform: skew(5deg) rotate(5deg);
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
}

.socialmedia a {
  text-decoration: none;
  color: #8a8a8a;
  font-size: 2em;
}

.socialmedia a:hover {
  color: #5e5e5e;
}

i.fa {
  display: inline-block;
  border-radius: 50px;
  padding: 0.2em 0.25em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

i.fa:hover {
  background-color: #d4eefc;
}

.arrow {
  width: 30px;
  height: 30px;
  border-right: 1px #7a7a7a solid;
  border-bottom: 1px #7a7a7a solid;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.arrow:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-right: 0.5px #7a7a7a solid;
  border-bottom: 0.5px #7a7a7a solid;
  margin: 5px 0 0 5px;
  animation: 1.3s arrow infinite;
  -webkit-animation: 1.3s arrow infinite;
  -moz-animation: 1.3s arrow infinite;
}

@-webkit-keyframes arrow {
  from {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  to {
    opacity: 1;
    height: 15px;
    width: 15px;
  }
}

@keyframes arrow {
  from {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  to {
    opacity: 1;
    height: 15px;
    width: 15px;
  }
}

@-webkit-keyframes arrow-mobile {
  from {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  to {
    opacity: 1;
    height: 8px;
    width: 8px;
  }
}

@keyframes arrow-mobile {
  from {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  to {
    opacity: 1;
    height: 8px;
    width: 8px;
  }
}

@-webkit-keyframes bounce-before {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 4px 5px;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes bounce-before {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 4px 5px;
  }
  to {
    background-position: 0 0;
  }
}

@-webkit-keyframes bounce-after {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 4px 15px;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes bounce-after {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 4px 15px;
  }
  to {
    background-position: 0 0;
  }
}

@media (max-width: 800px) {
  .foldpg {
    max-width: 80px;
    max-height: 80px;
    width: 80px;
    height: 80px;
    background-size: 78px 80px;
  }
  .foldpg:hover {
    max-width: 120px !important;
    max-height: 120px !important;
    width: 120px !important;
    height: 120px !important;
  }
  .foldpg:before {
    border-bottom: 80px solid #eee !important;
    border-left: 80px solid transparent !important;
  }
  .foldpg:hover:before {
    content: "";
    position: absolute;
    border-bottom: 120px solid #ddd !important;
    border-left: 120px solid transparent !important;
  }
  .welcome {
    height: 97.5vh;
    width: 95vw;
  }
  .welcome .name p {
    font-size: 2em;
  }
  .welcome .name .portrait-img {
    margin-top: 28vh;
  }
  .arrow {
    width: 15px !important;
    height: 15px !important;
  }
  .arrow:before {
    content: "";
    width: 8px;
    height: 8px;
    border-right: 0.5px #7a7a7a solid;
    border-bottom: 0.5px #7a7a7a solid;
    margin: 1px 0 0 1px !important;
    animation: 1.3s arrow-mobile infinite !important;
    -webkit-animation: 1.3s arrow-mobile infinite !important;
    -moz-animation: 1.3s arrow-mobile infinite !important;
  }
  .socialmedia a {
    font-size: 1.5em !important;
  }
}

@media (max-width: 320px) {
  .welcome {
    height: 97vh;
    min-height: 500px;
  }
  .welcome .name p {
    font-size: 1em;
  }
}
/*# sourceMappingURL=main.css.map */